In [1]:
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale

ImportError: No module named scipy

In [3]:
pwd

u'/Users/alfredreynold/Documents/DEV/snakes'

In [11]:
xx = pd.read_csv("../pulse/data_for_tables/session_table.tsv", sep="\t")

In [12]:
xx.head()

,user_id,start_time,end_time,timezone,start_time_utc,end_time_utc,durationfeeb91d5-ea6f-4140-932e-db89c815f4d5,2016-Jan-27 09:54:16,2016-Jan-27 09:56:26,Asia/Kolkata,2016-Jan-27 04:24:16,2016-Jan-27 04:26:26,130
0,feeb91d5-ea6f-4140-932e-db89c815f4d5,2016-Jan-27 09:54:16,2016-Jan-27 09:56:31,Asia/Kolkata,2016-Jan-27 04:24:16,2016-Jan-27 04:26:31,135,NaN,NaN,NaN,NaN,NaN,NaN
1,feeb91d5-ea6f-4140-932e-db89c815f4d5,2016-Jan-27 09:54:16,2016-Jan-27 09:59:51,Asia/Kolkata,2016-Jan-27 04:24:16,2016-Jan-27 04:29:51,335,NaN,NaN,NaN,NaN,NaN,NaN
2,feeb91d5-ea6f-4140-932e-db89c815f4d5,2016-Jan-27 09:54:16,2016-Jan-27 10:08:16,Asia/Kolkata,2016-Jan-27 04:24:16,2016-Jan-27 04:38:16,840,NaN,NaN,NaN,NaN,NaN,NaN
3,feeb91d5-ea6f-4140-932e-db89c815f4d5,2016-Jan-27 09:54:16,2016-Jan-27 10:14:23,Asia/Kolkata,2016-Jan-27 04:24:16,2016-Jan-27 04:44:23,1207,NaN,NaN,NaN,NaN,NaN,NaN
4,feeb91d5-ea6f-4140-932e-db89c815f4d5,2016-Jan-27 09:54:16,2016-Jan-27 10:14:23,Asia/Kolkata,2016-Jan-27 04:24:16,2016-Jan-27 04:44:23,1207,NaN,NaN,NaN,NaN,NaN,NaN